body {
	background-image: url(background1.jpg);
	background-size: cover;
	font-family: 'Amatic SC', cursive;}

header{
	margin: 10px 10px 0px 80px;
	}
ul{
	font-size:30px;
	text-align: center;

}
li {
	display: inline;
	list-style: none;
	margin-left: 20px;
}

.fontcolor {
	color: #555555;
	font-size: 80px;
	line-height: 0px;
	display: inline-block;
	font-weight: bold;
	}

#font2 {
	color: #434343;
	font-size: 40px;}

header p {
	margin:60px 0px 50px 0px;
	color: pink;
}

section p {
	text-transform: lowercase;
	margin: 20px 0px -20px 40px;
	font-size: 28px;
}

#welcome {
	font-size: 40px;
	font-weight: bold;
}
p span {
	margin: 50px 0px 50px 30px;
}
p span:hover{
	color: pink;
}
a:link {
	color: pink;
	text-decoration: none;
}

/*h1 {
	color: #C0C0C0;
}
	
h1+h3 {
	color: #898989;*/
/*img {
	border: 5px dashed pink;
	margin: 10px 20px 10px 20px;
	
	
}*/